<!DOCTYPE html>
<html dir="ltr">
<!--
█████████████████████████████████████████████████████
█░░░░░░░░░░░░░░█░░░░░░█████████░░░░░░░░░░█░░░░░░░░░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░█████████░░▄▀▄▀▄▀░░█░░▄▀▄▀▄▀░░█
█░░▄▀░░░░░░░░░░█░░▄▀░░█████████░░░░▄▀░░░░█░░░░▄▀░░░░█
█░░▄▀░░█████████░░▄▀░░███████████░░▄▀░░█████░░▄▀░░███
█░░▄▀░░░░░░░░░░█░░▄▀░░███████████░░▄▀░░█████░░▄▀░░███
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░███████████░░▄▀░░█████░░▄▀░░███
█░░▄▀░░░░░░░░░░█░░▄▀░░███████████░░▄▀░░█████░░▄▀░░███
█░░▄▀░░█████████░░▄▀░░███████████░░▄▀░░█████░░▄▀░░███
█░░▄▀░░█████████░░▄▀░░░░░░░░░░█░░░░▄▀░░░░█░░░░▄▀░░░░█
█░░▄▀░░█████████░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀░░█░░▄▀▄▀▄▀░░█
█░░░░░░█████████░░░░░░░░░░░░░░█░░░░░░░░░░█░░░░░░░░░░█
█████████████████████████████████████████████████████
Created By : @raf_lii - 2022
Stay in touch with me :
[+] Facebook = fb.com/raflii.seller
[+] Instagram = instagram.com/raf_lii
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Flii">
        
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/png">
    <meta property="og:locale" content="id_ID">
    <meta property="fb:pages" content="">
    <meta property="fb:admins" content="">
    <meta property="twitter:card" content="Summary">
    <meta property="twitter:creator" content="@yb_raf">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= process.env.APP_URL %>/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png' }}" sizes="32x32" href="<%= process.env.APP_URL %>/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png' }}" sizes="16x16" href="<%= process.env.APP_URL %>/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= process.env.APP_URL %>/assets/favicon/site.html">
    <link rel="mask-icon" href="<%= process.env.APP_URL %>/assets/favicon/safari-pinned-tab.svg" color="#0010f7">
    <meta name="msapplication-TileColor" content="#0010f7">
    <meta name="theme-color" content="#ffffff">

    <!-- Plugin -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/plugin/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/icons/iconly/index.min.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/icons/remix-icon/index.min.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/cr-1.5.6/fc-4.1.0/r-2.3.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/datatables.min.css" />

    <!-- Base -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/base/font-control.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/base/typography.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/base/base.css">

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/theme/colors-dark.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/theme/theme-dark.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/custom-rtl.css">

    <!-- Layouts -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/layouts/sider.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/layouts/header.css">
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/components.css">
    <!-- Customizer -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/layouts/customizer.css">

    <!-- Charts -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/plugin/apex-charts.css">

    <!-- Pages -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/pages/dashboard-analytics.css">

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="<%= process.env.APP_URL %>/assets/css/style.css">

    <title><%= process.env.APP_NAME %> <%= title %></title>

    <script>
        ! function(t, h, e, j, s, n) {
            t.hj = t.hj || function() {
                    (t.hj.q = t.hj.q || []).push(arguments)
                },
                t._hjSettings = {
                    hjid: 2628580,
                    hjsv: 6
                },
                s = h.getElementsByTagName("head")[0],
                (n = h.createElement("script")).async = 1,
                n.src = "https://static.hotjar.com/c/hotjar-" + t._hjSettings.hjid + ".js?sv=" + t._hjSettings.hjsv,
                s.appendChild(n)
        }(window, document)
    </script>
    
</head>

<body class="collapsed-active dark">
    <main class="hp-bg-color-dark-90 d-flex min-vh-100">

        <%- include('./layouts/sidebar') %>

        <div class="hp-main-layout">
            <%- include('./layouts/header') %>

            <%- include('./layouts/mobile-sidebar') %>

            <%- include(template) %>

            <%- include('./layouts/footer') %>
        </div>
    </main>

    <div class="scroll-to-top">
        <button type="button" class="btn btn-primary btn-icon-only rounded-circle hp-primary-shadow">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="16px" width="16px" xmlns="../../../../../www.w3.org/2000/svg.html">
                <g>
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path d="M13 7.828V20h-2V7.828l-5.364 5.364-1.414-1.414L12 4l7.778 7.778-1.414 1.414L13 7.828z"></path>
                </g>
            </svg>
        </button>
    </div>

    <!-- Plugin -->
    <script src="<%= process.env.APP_URL %>/assets/js/plugin/jquery.min.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/plugin/bootstrap.bundle.min.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/plugin/swiper-bundle.min.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/plugin/jquery.mask.min.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/plugin/autocomplete.min.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/plugin/moment.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/cr-1.5.6/fc-4.1.0/r-2.3.0/sc-2.0.7/sb-1.3.4/sp-2.0.2/datatables.min.js"></script>

    <!-- Layouts -->
    <script src="<%= process.env.APP_URL %>/assets/js/layouts/header-search.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/layouts/sider.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/components/input-number.js"></script>

    <!-- Base -->
    <script src="<%= process.env.APP_URL %>/assets/js/base/index.js"></script>
    <!-- Customizer -->
    <script src="<%= process.env.APP_URL %>/assets/js/customizer.js"></script>

    <!-- Charts -->
    <script src="<%= process.env.APP_URL %>/assets/js/plugin/apexcharts.min.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/charts/apex-chart.js"></script>

    <!-- Cards -->
    <script src="<%= process.env.APP_URL %>/assets/js/cards/card-analytic.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/cards/card-advance.js"></script>
    <script src="<%= process.env.APP_URL %>/assets/js/cards/card-statistic.js"></script>

    <!-- Custom -->
    <script src="<%= process.env.APP_URL %>/assets/js/main.js"></script>
</body>


</html>